.productPage {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    text-align: center;
}

.heading {
    margin-top: 30px;
    text-align: center;
    font-size: 2.5rem;
    color: #6b9ea0;
}

@media only screen and (max-width: 768px) {
    .heading {
        font-size: 25px;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}

