.cart-tab{
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 8px;
}

.cart-tab i{
    margin-right: 5px;
}

.cart-tab span{
    font-size: 12px;
    font-weight: 500;
}

.cart-tab:hover{
    transition: 0.1s ease-in-out;
    background: #010010;
    color: #f1ffff;
    cursor: pointer;
 }

 a{
    text-decoration: none;
    color: #010010;
 }

 /* ------  RESPONSIVE DESIGN ----- */

 @media only screen and (max-width: 768px) {
    .cart-tab{
        display: none;
    }
 }