.product {
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 10px 17px;
}

.product img {
    width: 255px;
    height: 315px;
    box-shadow: none;
    border-radius: 0px;
}

.product p {
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    color: black;
}

.price {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #6b9ea0;
}

.image {
    background: #fff;
}

.productItemBtn {
    display: inline-block;
    cursor: pointer;
    border: 0.5px solid #807375;
    outline: none;
    border-radius: 3px;
    color: #807375;
    background: #d3dada;
    padding: 5px 8px;
    margin-bottom: 10px;
    font-weight: 600;
}

.productItemBtn:hover {
    transition: 0.1s ease-in-out;
    background: #6b9ea0;
    border: 1px solid #6b9ea0;
    color: #f1ffff;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .product {
        padding: 8px 12px;
    }

    .product img {
        width: 255px;
        height: 275px;
    }

    .title {
        font-size: 20px;
    }
    
    .price {
        font-size: 18px;
    }

    .productItemBtn {
        font-size: 15px;
        padding: 10px 17px;
        margin-bottom: 10px;
        font-weight: 600;
    }
}