.option {
    margin-top: 15px;
    margin-bottom: 50px;
}

.opt {
    margin-right: 10px;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .opt {
        margin-bottom: 10px;
        font-weight: 500;
    }
}
